svg {
  cursor: crosshair;
  display: block;
  margin: auto;

  .edge {
    stroke: #000000;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    cursor: default;

    &:hover,
    .dragLine {
      stroke: #f00c0c;
      stroke-width: 8px;
    }
  }

  .vertex {
    cursor: pointer;
    &:hover {
      stroke: #e20b0b;
      opacity: 0.8;
    }
  }

  .dragLine.hidden {
    stroke-width: 0;
  }
}
